<h1>Add New Contact</h1>
<center>
<form action="/add_contact" method="post">
<strong>First Name:</strong>
  <input type="text" name="first_name">
<strong>Last Name:</strong>
  <input type="text" name="last_name">
<strong>Phone number:</strong>
  <input type="text" name="phone_number">
<strong>Relation:</strong>
<select name="relation">
  <option value="family">Family</option>
  <option value="friend" selected>Friend</option>
  <option value="colleague">Colleague</option>
  <option value="acquaintance">Acquaintance</option>
</select> 
  <br>
  <p></p>
<button type="submit" value="Submit"><h3>Submit</h3>
</button>
</form>
</center>